/* Footer Styles */
.footer-head {
  display: flex;
  align-items: center;
  background-color: #ccc;
}

.footer-head img {
  width: 150px;
  margin-left: 30%;
}

.footer-head h1 {
  font-size: 2rem;
}

.footer-container {
  background-color: #000;
  color: rgba(245, 245, 245, 0.877);
  display: flex;
  /* flex-wrap: wrap; Allow items to wrap to the next line on smaller screens */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo-container {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  background-color: #ccc;
  margin-right: 20px;
  flex-shrink: 0;
}

.logo-container img {
  width: 100%;
}

.text-container {
  flex-grow: 1; /* Allow the text container to take up available space */
}

.footer-nav {
  margin-top: 10px;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.footer-nav a {
  text-decoration: none;
  color: whitesmoke;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #ccc;
}

.join-us-container {
  text-align: center;
  margin-left: 10px;
  margin-top: 20px;
}

.join-us-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: whitesmoke;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  outline-color: #ccc;
}

.subscribe-form button {
  background-color: #fff;
  color: #000;
  font-family: 'Poppins';
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #ccc;
  color: #000;
}

.footer-right-reserved {
  text-align: center;
  margin: 0;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .footer-container{
    flex-direction: column;
  }
  .footer-nav ul {
  flex-direction: column;
  }
  .footer-head img {
    margin-left: 5%;
    width: 120px;
  }
  .footer-head h1 {
    font-size: 1.7rem;
  }

  .text-container {
    margin-top: 20px;
  }
  .subscribe-form input {
    width: 80%;
  }
}
