@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.moreBlogsContainer{
  font-family: 'Poppins';
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 20vh;
}
.moreBlogsItems {
  width: 100%;
  padding-left: 0;
}
.moreBlogsHeading {
  padding: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust height as needed */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3b82f6; /* Adjust spinner color */
  border-radius: 50%;
  width: 30px; /* Adjust width and height as needed */
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
