
.mainHeadContainer {
  padding: 0 60px;
  height: 100vh;
  animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mainHeadImageContainer {
  padding-top: 60px;
  height: 75vh;
  position: relative;
}
.mainHeadImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: lightgrey;
  transition: opacity 0.1s ease-in-out;
}
.headImgLoading {
  opacity: 0.5;
}



.mainHeadWindow {
  height: 75px;
  width: 80%;
  padding: 15px 15px;
  border-radius: 7px;
  background-color: white;
  position: absolute;
  bottom: 8%;
  left: 10%;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);


}
.mainHeadWindow p {
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.733);
  margin: 0;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headImageLeftBtn, .headImageRightBtn{
  position: absolute;
  top: 11vh;
  width: 30px;
  transform: rotate(90deg);
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 30px;
  transition: background-color 0.3s ease; 
}
.headImageRightBtn {
  right: 80px;
}
.headImageLeftBtn{
  transform: rotate(-90deg);
  right: 115px;
}
.headImageLeftBtn:hover, .headImageRightBtn:hover {
  background-color: black;
}
.headImageLeftBtn:hover path, .headImageRightBtn:hover path{
  fill: whitesmoke !important;
}

.mainHeadImageTitle {
  position: absolute;
  top: 20vh;
  left: 90px;
  font-size: 45px;
  color: rgba(245, 245, 245, 0.904);
}
.mainHeadImageDescription {
  position: absolute;
  top: 18vh;
  left: 100px;
  color: whitesmoke;
}
.headImageViewBtn {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 35vh;
  left: 120px;
  background-color: whitesmoke;
  color: #333333;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #333333;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.headImageViewBtn:hover {
  background-color: #333333;
  color: #ffffff;
  border-color: #ffffff;
}


/* Responsive Design */
@media (max-width: 768px) {
  .mainHeadContainer {
    height: 50vh;
    padding: 0 30px;
  }
  .mainHeadImageContainer {
    height: 35vh;
  }
  .mainHeadImageTitle {
    font-size: 20px;
    left: 7vh;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mainHeadImageDescription {
    font-size: 12px;
    left: 7vh;
  }
  .headImageViewBtn {
    font-size: 11px;
    padding: 4px 6px;
    left: 8vh;
    top: 27vh;
  }
  .mainHeadWindow {
    padding: 8px 8px;
    height: 45px;
    top: 40vh;
    left: 30px;
  }
  .mainHeadWindow p{
    font-size: 10px;
    line-height: 13px;
    height: 39px;
  }
  .headImageLeftBtn, .headImageRightBtn {
    width: 20px;
  }
  .headImageLeftBtn {
    right: 9vh;
  }
  .headImageRightBtn {
    right: 6vh;
  }
}