@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.adminPageContainer {
  padding: 50px 4%;
  background-color: whitesmoke;
  font-family: 'Domine', serif;
}
.form {
  display: flex;
  flex-direction: column;
}

.uploadHeader {
  padding-left: 100px;
  padding-right: 50px;
}
.powerOff {
  margin-left: 30px;
  transition: all 0.2s ease-in-out;
}
.powerOff:hover {
  color: rgba(240, 8, 8, 0.932);
}

.headImage {
  width: 100%;
  height: 400px;
  border-radius: 6px;
  background: linear-gradient(rgb(220, 220, 220), rgb(150, 150, 150));
}
.headImageLabelContainer {
  position: relative;
}
.headName {
  position: absolute;
  font-family: 'Domine', serif;
  left: -35%;
  top: 16%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  outline: none;

  letter-spacing: 1px;
  line-height: 40px;
  font-size: 35px;
}

.headDescription {
  position: absolute;
  font-family: 'Domine', serif;
  height: 30%;
  left: -35%;
  top: 40%;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.808);

  font-size: 15px;
}
.blogTitle {
  margin-top: 3px;
  padding-top: 40px;
  height: 40px;
  font-family: 'Domine', serif;
  font-weight: 500;
  font-size: 30px;
} 


.blogContentOne {
  margin-top: 15px;
  height: 70px;
  color: rgb(56, 56, 56);
  font-family: 'Domine', serif;
  font-size: 15px;
  margin-bottom: 5px;
}

.blogContentTwo {
  margin-top: 45px;
  height: 168px;
  color: rgb(65, 64, 64);
  font-family: 'Domine', serif;
  font-size: 15px;
}
.blogContentThree {
  margin-top: 45px;
  height: 168px;
  color: rgb(65, 64, 64);
  font-family: 'Domine', serif;
  font-size: 15px;
}


.blogCategory {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.metaLabel, .categoryLabel {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.metaInput {
  font-family: 'Domine', serif;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}


.blogSubmit {
  margin-top: 40px;
  align-self: flex-end;
  width: 15vh;
  font-family: 'Poppins';
  font-weight: 600;

  background-color: black;
  border: none;
  color: white;
  height: 5vh;
  transition: background-color 0.3s ease;
}
.blogSubmit:hover{
  cursor: pointer;
  background-color: lightslategray;
}

.successMessage {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: lightslategray;
  font-family: 'Poppins';
  color: #fff;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1009;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s, transform 0.3s ease-in-out;
}

.successMessage.show {
  opacity: 1;
  transform: translateY(0);
}

.logoContainer {
  height: 100%;
}




/* Custom Underline */
.customUnderline {
  align-self: center;
  border-bottom: 3px solid lightslategray;
  width: 6%;
  margin-top: 2px;
}

/* Fixed textarea styles */
.textarea {
  outline-color: lightsteelblue;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
}

/* Fixed Styles for uploadImages */
.uploadImage {
  border: dashed 1px black;
  background-color: white;
}
.uploadImageLabelContainer {
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 700;
}
.uploadImageLabel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadImageLabel:hover {
  cursor: pointer;
  border: dashed 1px black;
  background-color: white;
}
.ImageInput {
  display: none;
}



/* Responsive Design */
@media (max-width: 768px) {
  .headImage {
    height: 190px;
    margin-top: 10px;
  }
  .headName {
    font-size: 13px;
    line-height: 14px;
    top: 65px;
  }
  .headDescription {
    font-size: 8px;
    top: 95px;
  } 
  .blogTitle {
    font-size: 22px;
    padding-top: 30px;
  }
  .blogContentOne{
    height: 17vh;
  }
  .blogContentOne, .blogContentTwo, .blogContentThree {
    font-size: 10px;
  }
  .blogContentTwo {
    height: 100px;
    margin-bottom: 0px;
  }
  .blogContentThree {
    margin-top: 15px;
  }
  .metaLabel,.categoryLabel {
    font-size: 12px;
  }
  .metaInput, .blogCategory {
    font-size: 10px;
  }
  .blogSubmit {
    font-size: 12px;
    width: 85px;
    height: 30px;
    border-radius: 4px;
  }
  .uploadHeader {
    padding-left: 20px;
    padding-right: 10px;
  }
}